.profile__status {
  grid-area: status;
  margin: 0;
  font-family: Inter, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
}

@media screen and (max-width: 768px) {
  .profile__status {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
} 