.form__link {
  text-decoration: none;
  color: #fff;
  padding-top: 15px;
  font-size: 14px;
  line-height: 17px;
  transition: opacity .5s linear;
}

.form__link:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .form__link {
    padding: 20px 0 40px 0;
  }
}